# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.hex
*.map
*.bin
*.lst
*.srec

# Ivory
demo/*/MainIvory.c
demo/*/MainIvory.h
ivory.h
ivory_asserts.h
ivory_templates.h
